*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.iws
*.log
*.ipr
target/
.settings
.project
.classpath
.externalToolBuilders
*.class
*svn/
.idea/
*.jar
*.zip
*.yml
~*